/* skyColor: #2DB0FE;
spaceSkyColor: #343A3E
seaColor: #0680CB;
ropeColor: #355A60
platformColor: #CA794E; */




body {
    /* border : 1px solid black; */
    /* background: gray; */
}

div, img{
    /* border : 1px solid black; */
}

button{
    z-index: 3;
}

h1{
    position: fixed;
    top: 39vh;
    left: 40vw;
    text-align: center;
    color: white;
    z-index: 2;
    /* text-shadow: #355A60; */
}

h2{
    color: ghostwhite;
    position: fixed;
    top:25vh;
    left:10vw;
}

.card{
    position: fixed;
    top: 20vh;
    left: 15vw;
}

.card-img-top{
    width: 150px;
    position: relative;
    left:20%;
    margin-top: 5%;
}

span{
    border-radius:5px;
}

#space{
    padding: 5px;
    border: 1px solid white;
    /* background: white; */
    /* display: inline-block; */
}

#again{
    padding: 5px;
    border: 1px solid rgb(88, 63, 17);

    background: rgb(243, 187, 82);
    /* display: inline-block; */
}

@media (min-width:800px) {
    .btn-danger{
        visibility: hidden;
    }

    #receiver{
        position: absolute;
        width: 450px;
        height: 150px;
        top: 65vh;
        left: 10vw;
    }
}  

.btn-danger.btn-goup{
    position: fixed;
    top: 10vh;
    left: 5vw;
}

.btn-danger.btn-gorotate{
    position: fixed;
    top: 10vh;
    right: 5vw;
}




.asteroid.one{
    position: fixed;
    right: -50%;
    bottom: -10%;

}

.asteroid.two{
    position: fixed;
    right: 50%;
    bottom: -10%;
}

.asteroid.three{
    position: fixed;
    right: -10%;
    bottom: -10%;
}

.cloud.one{
    position: fixed;
    right: 30%;
    bottom: 40%;
    z-index: 1;

}

.cloud.two{
    position: fixed;
    right: 70%;
    bottom: 70%;
    z-index: 1;
}

.cloud.three{
    position: fixed;
    right: 80%;
    bottom: 60%;
    z-index: 1;
}

.ufo.one{
    position: fixed;
    right: -10%;
    bottom: -30%;
}

.ufo.two{
    position: fixed;
    right: -10%;
    bottom: 40%;
}

#sky{
    position: relative;
    width: 99vw;
    height: 80vh;
    background: #2DB0FE;
}

#shuttle{
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: rotate(120deg);
}

#leftfire{
    position: absolute;
    top:95%;
    left:10%;
    transform: rotate(180deg);
    

}

#rightfire{
    position: absolute;
    top:95%;
    right:10%;
    transform: rotate(180deg);

}

#receiver{
    position: absolute;
    width: 450px;
    height: 150px;
    top: 63vh;
    left: 65vw;
}

#ship{
    position: absolute;
    bottom: 0%;
    left: 0%;
}

#rope{
    position: absolute;
    width:150px;
    height: 8px;
    background: #355A60;
    top: 77%;
    left: 25%;
}

#platform {
    position: absolute;
    top: 65%;
    right: 0%;
    width: 200px;
    height: 30px;
    background: #CA794E;
}

#roadcorn{
    position: absolute;
    top: -90%;
    left: 85%;
}

#land{
    position: absolute;
    width: 200px;
    height: 150px;
    /* top: 77%; */
    top: 63vh;
    left: 0%;
}

#island{
    position: absolute;
    left:0%;
    bottom:15%;
}

#penguin{
    position: absolute;
    left: 15%;
    bottom: 30%;
}


#sea{
    position: fixed;
    top: 80vh;
    z-index: -1;
    width: 99vw;
    height: 16vh;
    background:  #0680CB;
}


/* .flex{
    display: flex;
    height: 100vh;
    align-items: center;
} */